
{%- extends 'templates/role.json.j2' -%}

{%- block cluster -%}

  {%- if host.cluster is defined -%}

    {%- if host.cluster.type | lower == 'kubernetes' -%}

      {%- set service_ip_octets = ((host.cluster.cf.nfc_role_kubernetes_service_subnet|string).split('/')[0]).split('.') -%}

      {%- set cluster_dns = ns.host.hostConfig.network.dns + [{"ip": (service_ip_octets[0] | string + '.' + service_ip_octets[1] | string  + '.' + service_ip_octets[2] | string  + '.10') | string }] -%}

      {%- set _dummy = ns.host.hostConfig.network.update({"dns": cluster_dns}) -%}

      {#
        Configuration for Ansible Role nofusscomputing.kubernetes.nfc_kubernetes
      #}

      {%- if
        nfc_role_kubernetes_prime is defined
          and
        nfc_role_kubernetes_prime is not none
      -%}

        {%- set _dummy = ns.host.update({"nfc_role_kubernetes_prime": nfc_role_kubernetes_prime}) -%}

      {%- endif -%}


      {%- if
        nfc_role_kubernetes_master is defined
          and
        nfc_role_kubernetes_master is not none
      -%}

        {%- set _dummy = ns.host.update({"nfc_role_kubernetes_master": nfc_role_kubernetes_master}) -%}

      {%- endif -%}


      {%- if
        nfc_role_kubernetes_worker is defined
          and
        nfc_role_kubernetes_worker is not none
      -%}

        {%- set _dummy = ns.host.update({"nfc_role_kubernetes_worker": nfc_role_kubernetes_worker}) -%}

      {%- endif -%}


      {%- for key in host.cluster.cf -%}{#- cf keys require formatting for correct json output -#}

        {%- if host.cluster.cf[key] != none -%}

          {%- if
            host.cluster.cf[key] is not integer
              and
            host.cluster.cf[key] is not boolean
          -%}

            {%- set _dummy = ns.host.update({key | string: host.cluster.cf[key] | string}) -%}

          {%- else -%}

            {%- set _dummy = ns.host.update({key | string: host.cluster.cf[key]}) -%}

          {%- endif -%}

        {%- endif -%}

      {%- endfor -%}


    {%- endif -%}

  {%- endif -%}

{%- endblock -%}
