{%- set ns = namespace({}) -%}
{%- set ns.host = {} -%}

{%- set _dummy = ns.host.update({"hostConfig": {}}) -%} {#- ToDo: Depreciate hostConfig Key-#}
{%- set _dummy = ns.host.hostConfig.update({"dns": []}) -%}

{%- if device is defined -%}

  {%- set host = device -%}

{%- else -%}

  {%- set host = virtualmachine -%}

{%- endif -%}

{#-
  Over-Ridable Fields
-#}

{%- set _dummy = ns.host.hostConfig.update({"time_zone": host.site.time_zone | string }) -%}


{#-
  ITSM Fields setup
-#}

{%- set _dummy = ns.host.update({"itsm": {}}) -%}

{%- set _dummy = ns.host.itsm.update({
      "dcim": {
        "id": host.id | int
      },
      "itam": {
        "id": host.cf.itil_item_id | int,
        "entity": host.cf.itil_entity | int ,
        "asset_type": host.cf.itil_item_type
      }
    }) -%}



{#-
  Interface Setup
-#}

{%- set ns.interfaces = [] -%}

  {%- for interface in host.interfaces.all() -%}

    {%- if
      interface.type != 'bridge'
        and
      interface.type != 'virtual'
    -%}

      {%- set found_interface = {} -%}

        {%- set _dummy = found_interface.update({"name": interface.label}) -%}
        {%- set _dummy = found_interface.update({"type": "dhcp"}) -%}

        {%- if interface.mac_address is defined -%}

          {%- set _dummy = found_interface.update({"mac_address": interface.mac_address | string}) -%}

        {%- endif -%}

      {%- set ns.interfaces = ns.interfaces + [ found_interface ] -%}

    {%- endif -%}

  {%- endfor -%}

   {%- set _dummy = ns.host.hostConfig.update({"interfaces": ns.interfaces}) -%}


  {%- block role -%}{%- endblock -%}


  {{ ns.host | replace("'", '"') }}
