
{%- extends 'templates/host.json.j2' -%}

{%- block role -%}

  {%- if host.role.slug != 'desktop'-%}

    {%- set _dummy = ns.host.update({"time_zone": "UTC" }) -%}

  {%- endif -%}


  {%- block cluster %}{% endblock -%}

{%- endblock -%}
